@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
.electric {
  background-color: yellow;
}

.fighting {
  background-color: #c12239;
}

.normal {
  background-color: #aaa67f;
}

.flying {
  background-color: #a891ec;
}

.ground {
  background-color: #dec16b;
}

.poison {
  background-color: #a43e9e;
}

.rock {
  background-color: #b69e31;
}

.bug {
  background-color: #a7b723;
}

.ghost {
  background-color: #70559b;
}

.steel {
  background-color: #b7b9d0;
}

.fire {
  background-color: #f57d31;
}

.water {
  background-color: #6493eb;
}

.grass {
  background-color: #74cb48;
}

.psychic {
  background-color: #fb5584;
}

.ice {
  background-color: #9ad6df;
}

.dragon {
  background-color: #7037ff;
}

.dark {
  background-color: #75574c;
}

.fairy {
  background-color: #e69eac;
}

.unknown {
  background-color: #526677;
}

.shadow {
  background-color: #4f507b;
}

h3 {
  font-family: "Press Start 2P", "poppins";
}
