.home {
 display: flex;
 flex-direction: row;
 width: 80%;
 margin: auto;
 max-width: 100vw;
 max-height: 100vh;
 color: white;
 // justify-content: space-between;
  align-items: center;
   justify-content: center;
   // div{
   //  width: 50%;
   // }
 // header {
 //  padding: 1rem 0;
 //  width: 100%;
 //  display: flex;
 //  justify-content: center;
 //  margin: 0 auto;
 //}
}
  .pokemon__card {
   display: flex;
   width: 50%;
   background-color: white;
   cursor: pointer;
   gap: 1rem;
  }
    .search__card{
      display: flex;
      flex-direction: column;
       background-color: red;
       cursor: pointer;
       gap: 1rem;
    }